In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepaths in variables
metadata = "db/Belly_Button_Biodiversity_Metadata.csv"
otu_id = "db/belly_button_biodiversity_otu_id.csv"
samples = "db/belly_button_biodiversity_samples.csv"
columns = "db/metadata_columns.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
metadata_df = pd.read_csv(metadata, encoding = "ISO-8859-1")
otu_id_df = pd.read_csv(otu_id, encoding = "ISO-8859-1")
samples_df = pd.read_csv(samples, encoding = "ISO-8859-1")
columns_df = pd.read_csv(columns, encoding = "ISO-8859-1")

In [4]:
samples_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
samples_columns = samples_df.columns
samples_columns

Index(['otu_id', 'BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946',
       'BB_947', 'BB_948', 'BB_949',
       ...
       'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574',
       'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601'],
      dtype='object', length=154)

NameError: name 'string' is not defined

In [7]:
samples_columns_dict = samples_columns.to_dict()
samples_columns_dict.json

AttributeError: 'Index' object has no attribute 'to_dict'